* {
    margin: 0px;
    padding: 0px;
    background-color: white;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 75px;

}

.game-title {
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px dotted red;
    text-align: center;
    width: 600px;
    margin: 0 auto;
}

.options {
    width: 100px;
    height: 25px;
    border-radius: 10px;
    box-shadow: 2px 1px 1px;
}

.options.rock:hover  {
    background-color: rgb(28, 198, 48);
}

.options.paper:hover  {
    background-color: red;
}

.options.scissors:hover  {
    background-color: blue;
}

.option-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.round-score {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.result {
    font-size: 50px;
    text-align: center;
    margin-top: 40px;
    color: red;
}

.score {
    text-align: center;
    font-size: 30px;
}



